@import '../../../styles/index.scss';

.bf-header {
    position: relative;
    background-image: url('../../../assets/bg10.jpg');
    height: 710px;
    background-repeat: no-repeat;
    background-size: cover;

    &__layer {
        background-color: $bf-color-lightBlack;
        // background-image:linear-gradient(to left, $bf-gradient-shade1 0%, $bf-gradient-shade2 40%, $bf-color-black 70%, $bf-color-black 100%);
        height: 710px;
        opacity: 0.7;
    }

    &__quote {
        position: absolute;
        color: $bf-color-white;
        font-size: 38px;
        font-family: fantasy;
        font-weight: bold;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}

@include mobile-only {
    .bf-header {
        &__quote {
            font-size: 21px;
        }
    }
}