@import "../../../styles/index.scss";

.bmr-calculator-section {
    margin-bottom: $bf-space-30;
    padding-bottom: $bf-space-30;

    &__image {
        img {
            width: 90%;
        }
    }

    &__gender-title {
        font-weight: bold;
        font-family: fantasy;
        font-size: 28px;
    }

    &__form {
        margin-top: $bf-space-30;
    }

   &__calculate-button {
       text-align: center;
   }
}