$bf-color-black: #111;
$bf-color-lightBlack: rgba(0,0,0,0.7);
$bf-color-white-shade1: rgba(255,255,255,0.7);
$bf-color-white-shade2: rgba(255,255,255,0.8);
$bf-color-white: #fff;
$bf-gradient-shade1: #e24500;
$bf-gradient-shade2: #005d60;
