$bf-space-1: 1px;
$bf-space-2: 2px;
$bf-space-5: 5px;
$bf-space-8: 8px;
$bf-space-10: 10px;
$bf-space-12: 12px;
$bf-space-15: 15px;
$bf-space-18: 18px;
$bf-space-20: 20px;
$bf-space-25: 25px;
$bf-space-30: 30px;
$bf-space-35: 35px;
$bf-space-40: 40px;
$bf-space-45: 45px;
$bf-space-50: 50px;
$bf-space-55: 55px;
$bf-space-60: 60px;
$bf-space-70: 70px;
$bf-space-80: 80px;
$bf-space-100: 100px;


