$fb-space-1: 1px;
$fb-space-2: 2px;
$fb-space-5: 5px;
$fb-space-8: 8px;
$fb-space-10: 10px;
$fb-space-12: 12px;
$fb-space-15: 15px;
$fb-space-20: 20px;
$fb-space-25: 25px;
$fb-space-30: 30px;
$fb-space-40: 40px;
$fb-space-45: 45px;
$fb-space-50: 50px;
$fb-space-55: 55px;
$fb-space-60: 60px;
$fb-space-70: 70px;
$fb-space-80: 80px;
$fb-space-100: 100px;


// TODO: Delete below  variables
$fb-space-nano: 1px;
$fb-space-micro: 2px;
$fb-space-mini: 4px;
$fb-space-6: 6px;
$fb-space-xxxs: 8px;
$fb-space-10: 10px;
$fb-space-xxs: 12px;
$fb-space-15: 15px;
$fb-space-xs: 16px;
$fb-space-18: 18px;
$fb-space-s: 20px;
$fb-space-25: 25px;
$fb-space-30: 30px;
$fb-space-40: 40px;
$fb-space-45: 45px;
$fb-space-50: 50px;
$fb-space-55: 55px;
$fb-space-60: 60px;
$fb-space-70: 70px;
$fb-space-80: 80px;


// padding space
$fb-space-padding-xxxs: $fb-space-mini;
$fb-space-padding-6: $fb-space-6;
$fb-space-padding-xxs: $fb-space-xxxs;
$fb-space-padding-10: $fb-space-10;
$fb-space-padding-xs: $fb-space-xxs;
$fb-space-padding-15: $fb-space-15;
$fb-space-padding-16: $fb-space-xs;
$fb-space-padding-20: $fb-space-s;
$fb-space-padding-25: $fb-space-25;
$fb-space-padding-30: $fb-space-30;
$fb-space-padding-40: $fb-space-40;
$fb-space-padding-50: $fb-space-50;
$fb-space-padding-60: $fb-space-60;
$fb-space-padding-80: $fb-space-80;

// margin space
$fb-space-margin-1: $fb-space-nano;
$fb-space-margin-xxxs: $fb-space-mini;
$fb-space-margin-xxs: $fb-space-xxxs;
$fb-space-margin-6: $fb-space-6;
$fb-space-margin-10: $fb-space-10;
$fb-space-margin-xs: $fb-space-xxs;
$fb-space-margin-15: $fb-space-15;
$fb-space-margin-16: $fb-space-xs;
$fb-space-margin-20: $fb-space-s;
$fb-space-margin-25: $fb-space-25;
$fb-space-margin-30: $fb-space-30;
$fb-space-margin-40: $fb-space-40;
$fb-space-margin-45: $fb-space-45;
$fb-space-margin-50: $fb-space-50;
$fb-space-margin-55: $fb-space-55;
$fb-space-margin-60: $fb-space-60;
$fb-space-margin-70: $fb-space-70;
$fb-space-margin-80: $fb-space-80;
$fb-space-margin-100: $fb-space-100;
