@import '../../../styles/index.scss';

.bf-input-field {
    padding-bottom: $bf-space-20;

    &__label {
        font-weight: bold;
        font-family: fantasy;
        font-size: 28px;
    }

    &__label:hover {
        color: $bf-gradient-shade1;
        transition: 0.3s;
    }

    &__input {
        border: 5px solid $bf-gradient-shade1;
        width: 100%;
        font-size: 20px;
        padding: $bf-space-10;
    }

    &__border-bottom {
        border: none;
        border-bottom: 3px solid $bf-gradient-shade1;
    }

    &__input::placeholder {
        text-align: right;
    }

    &__border-bottom::placeholder {
        text-align: left;
    }

    &__input:focus {
        outline: none;
    }
}