@import '../../../styles/index.scss';

.bf-button {
    &__is-btn {
        border: 2px solid $bf-color-white;
        color: $bf-color-white;
        background-color: $bf-gradient-shade1;
        padding: $bf-space-15 $bf-space-50;
        margin-top: 25px;
        float: right;
        transition-duration: 0.4s;
        text-align: center;
    }
}