@import '../../../styles/index.scss';

.bf-button {
    &__is-btn {
        font-weight: bold;;
        border: 3px solid $bf-color-black;
        color: $bf-color-black;
        background-color: $bf-gradient-shade1;
        padding: $bf-space-15 $bf-space-50;
        margin-top: 25px;
        float: right;
        transition: all 0.5s;
        text-align: center;
    }

    &__is-btn {
        span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }
    }
      
      &__is-btn {
        span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }
    }
      
      &__is-btn:hover {
          span {
            padding-right: 25px;
        }
    }
      
      &__is-btn:hover {
        span:after {
            opacity: 1;
            right: 0;
        }
    }
}